<Configuration>
    <Server
        maxThreads="20"
        port="8080"/>
    <Pipeline name="PUBLIC_RECEIVER">
        <HttpImportService
            acceptFileObjects="no"
            class="org.rsna.ctp.stdstages.HttpImportService"
            logConnections="no"
            name="HttpImportService"
            port="23104"
            quarantine="/data/ctpserver/receiver/quarantines/HttpImportService"
            root="/data/ctpserver/receiver/roots/HttpImportService"/>
        <DicomFilter
            name="XnatOnlyFilter"
            id="stage ID"
            class="org.rsna.ctp.stdstages.DicomFilter"
            root="/data/ctpserver/receiver/roots/xnatFilter"
            script="xnatOnly.script"
            quarantine="/data/ctpserver/receiver/quarantines/xnatFilter" />
        <DicomExportService
            class="org.rsna.ctp.stdstages.DicomExportService"
            name="DicomExportService"
            quarantine="/data/ctpserver/quarantines/DicomExportService"
            root="/data/ctpserver/roots/DicomExportService"
            url="dicom://XNAT:CTP@192.168.230.23:8104"/>
    </Pipeline>

    <Pipeline name="Move_NBIA">
        <DirectoryImportService
            name="DirectoryImportService"
            id="moveNbiaImport"
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            root="/data/ctpserver/nbiaMove/roots/import"
            import="/data/ctpserver/nbiaMove/import"
            interval="1000"
            acceptDicomObjects="yes"
            acceptXmlObjects="no"
            acceptZipObjects="no"
            acceptFileObjects="no" 
            quarantine="/data/ctpserver/nbiaMove/quarantines/import" />
        <HttpExportService
            class="org.rsna.ctp.stdstages.HttpExportService"
            name="HTTP Export Service"
            quarantine="/data/ctpserver/nbiaMove/quarantines/export-service"
            root="/data/ctpserver/nbiaMove/roots/export-service"
            sendDigestHeader="no"
            username="client"
            password="client"
            url="http://app19-prd-vh.trait.vancis.nl:23104"/>
    </Pipeline>
</Configuration>
