<Configuration>
    <Server
        maxThreads="20"
        port="8080"/>
    <Pipeline name="PUBLIC_RECEIVER">
        <HttpImportService
            acceptFileObjects="no"
            class="org.rsna.ctp.stdstages.HttpImportService"
            logConnections="no"
            name="HttpImportService"
            port="23104"
            quarantine="/data/ctpserver/receiver/quarantines/HttpImportService"
            root="/data/ctpserver/receiver/roots/HttpImportService"/>
        <DicomFilter
            name="XnatOnlyFilter"
            id="stage ID"
            class="org.rsna.ctp.stdstages.DicomFilter"
            root="/data/ctpserver/receiver/roots/xnatFilter"
            script="xnatOnly.script"
            quarantine="/data/ctpserver/receiver/quarantines/xnatFilter" />
        <DicomExportService
            class="org.rsna.ctp.stdstages.DicomExportService"
            name="DicomExportService"
            quarantine="/data/ctpserver/quarantines/DicomExportService"
            root="/data/ctpserver/roots/DicomExportService"
            url="dicom://XNAT:CTP@192.168.230.23:8104"/>
    </Pipeline>
</Configuration>
